@charset "utf-8";
/*
 * 项目：久义APP
 * 功能：商品详情
 * 时间：2016.12.26
 * 
 * */
/*============================详情页======================*/
/*详情头部*/
.goodsInfo-nav{position: absolute;left: 0px; top: 10px; right: 0px; width: 100%;z-index: 998;}
.goodsInfo-nav a{display: inline-block; margin-left: 10px; width: 30px; text-align: center; height: 30px;line-height: 30px; border-radius: 50%; -webkit-border-radius: 50%; background: rgba(0,0,0,.3);}
.goodsInfo-nav a i.iconfont{color: #fff;font-size:20px;}
/*详情轮播*/
.goodsInfo-banner{position:relative;overflow:hidden;}
.goodsInfo-banner img{width:100%;}
/*详情轮播 end*/
/*详情信息*/
.goodsInfo-box{background: #fff; padding: 10px;font-family: "microsoft yahei";}
.goodsInfo-box .name{font: normal 15px/20px "microsoft yahei";text-overflow: ellipsis;overflow: hidden;  display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.goodsInfo-box div{height: 25px; line-height: 25px;}
.promotion a{display: block;clear: both;overflow: hidden;padding-top: 10px;color: #333; font-size: 13px;}
.promotion a .iconfont{color: #ccc;font-weight: 600;}
.promotion a .tip{color: #f94c53; border: 1px solid #f93c53;padding: 1px 3px; margin-right: 5px; border-radius: 2px; -webkit-border-radius: 2px;}
/*评论*/
.goods-comment{background: #fff; padding: 10px;font-family: "microsoft yahei";}
.goods-comment dl{font-size: 13px;}
.goods-comment dl .user-logo{font-size: 14px;padding: 10px 0;}
.goods-comment dl .user-logo img{width:15%;height:15%; margin-right: 10px;}
.goods-comment dl dd{line-height: 20px;padding-bottom: 10px;}
/*店铺*/
.goods-shop{background: #fff; padding: 10px;}
